<h2><%= @list.title %></h2>
<h4><%= @list.description %></h4>
<% if @list.complete == true %>
  <h4>You don't have to worry about this one...</h4>
<% else %>
  <h4>You have yet to complete this item</h4>
<% end %>

<%= link_to 'Edit', edit_list_path(
@list) %> |
<%= link_to 'Delete', list_path(@list), method: :delete %>